.headerHome {
    margin: 0;
    padding-left: 120px;
    padding:1.5rem 7.5rem 2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;    
  }

  .buttonHeader .cadastro {
    width: 12rem;
    margin-top: 2rem;
    margin-left:2rem;
    padding: 0.75rem 0.75rem 0.75rem;
    font-size: 1rem;
    background: #FAC372;
    color:#1C1B1F;
    border-radius: 10px;
    text-align: center;
    font-weight:500;
  }
  
  .buttonHeader .entrar{
    width: 12rem;
    margin-top: 2rem;
    font-size: 1rem;
    color:#1C1B1F;
    text-align: center;
    font-weight:100;
  }
  
          
  @media screen and (max-width: 600px) {
    .headerHome {
      width: 100%;
      flex-direction: column;
      padding-left: 10px;
    }
  
  .buttonHeader{
      margin-top: 50px;
    }
  }
  
   
          
          
          
          
          
          
          