
  
  .inputContainer{
    width: 100%;
    margin-bottom: 10px;
  }

  #map {
    height: 200px;
    width: 100%;
    padding: unset;
  }

  .select {
    width: 100%;
  }

  @media screen and (max-width: 600px) {
  
    .container form .inputContainer input {
      width: 350px;
    }
    .container form .buttonRegisterEvent {
      width: 350px;
    }
  
  }
 