.container{
  position: relative;
  left: 10%;
  width: 80%;
}

  form {
    width: 100%;
  }
  
  .inputContainer{
    width: 100%;
    margin-bottom: 10px;
  }

  #map {
    height: 500px;
    width: 100%;
    padding: unset;
  }

  .select {
    width: 100%;
  }
