.footerHome {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem 1rem 1rem;
    background: #68645c;
    color:#9c9c8d;
  }
  .footerHome p{
    text-align: center;
  }